<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Werke - Bearbeiten</title>
</head>
<body>
<form class="form-group" method="post" th:action="@{/art/__${category}__/new}" enctype="multipart/form-data" th:fragment="newPaintingForm(category)">
    <input type="text" class="form-control" id="paintingname" name="paintingname" required="required" placeholder="Bildname"/>
    <input type="text" class="form-control" id="technique" name="technique" required="required" placeholder="Technik"/>
    <input type="number" step="0.01" class="form-control" id="height" name="height" required="required" placeholder="Höhe"/>
    <input type="number" step="0.01" class="form-control" id="width" name="width" required="required" placeholder="Breite"/>
    <input type="number" class="form-control" id="year" name="year" required="required" placeholder="Entstehungsjahr"/>
    <input type="file" class="form-control" id="file" name="file" required="required" accept="image/*"/>

    <button type="submit" class="btn btn-primary blog-input">
        <i class="fa fa-floppy-o"></i> Speichern
    </button>
</form>
</body>
</html>