.painting-container {
	min-height: 500px;
	margin-left: 5px;
	margin-right: 5px;
}

.painting-container-edit {
	min-height: 600px;
	margin-left: 5px;
	margin-right: 5px;
}

.painting-container p {
	font-size: 1.1em;
	margin-bottom: 5px;
}

.painting-frame {
    border-style: solid;
}

.form-control {
    margin-bottom: 15px;
    max-width: 500px;
}

textarea {
    min-height: 140px;
}

.description p {
    font-size: 1.1em;
}

.alert {
    background-color: #ef6e81
}