<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/general-includes :: general-includes"></th:block>
    <link rel="stylesheet" href="../css/exhibition.css"
          th:href="@{/css/exhibition.css}" type="text/css" />
    <title>Neue Ausstellung erfassen</title>
</head>
<body>
<nav th:replace="fragments/general-includes :: header"></nav>
<div class="jumbotron">
    <div class="container">
        <h2>Neue Ausstellung erfassen</h2>
        <hr class="gradient-style-left" />
        <form th:action="@{/exhibition/new}" method="post" class="form-group" enctype="multipart/form-data">
            <label for="startDate">Von: </label>
            <input id="startDate" class="form-control" type="date" name="startdate" required="required" /><br/>
            <label for="endDate">Bis: </label>
            <input id="endDate" class="form-control" type="date" name="enddate" required="required" /><br/>
            <label for="title">Titel:</label>
            <input type="text" id="title" name="title" class="form-control" placeholder="Titel der Ausstellung" required="required" /><br/>
            <label for="exhibitor">Aussteller:</label>
            <input type="text" id="exhibitor" name="exhibitor" class="form-control" placeholder="Name(n) des/der Aussteller(s)" required="required" /><br/>
            <label for="location">Ort:</label>
            <input type="text" id="location" name="location" class="form-control" placeholder="Ausstellungsort" /><br/>
            <label for="openingtimes">&#214;ffnungszeiten:</label>
            <input type="text" id="openingtimes" name="openingtimes" class="form-control" placeholder="&#214;ffnungszeiten" /><br/>
            <label for="vernissage">Vernissage:</label>
            <input type="text" id="vernissage" name="vernissage" class="form-control" placeholder="Vernissage" /><br/>
            <label for="link">Link: </label>
            <input id="link" class="form-control" placeholder="Link" type="text" name="link" /><br/>
            <label for="exhibition-pictures">Bilder der Ausstellung: </label>
            <input type="file" class="form-control" id="exhibition-pictures" name="exhibition-pictures" accept="image/*" multiple="multiple"/><br/>
            <label for="exhibition-poster">Ausstellungsplakat: </label>
            <input type="file" class="form-control" id="exhibition-poster" name="exhibition-poster" accept="image/*"/><br/>
            <label for="description">Pressetext:</label>
            <textarea id="description" name="description" class="form-control" placeholder="Pressetext" required="required"></textarea>
            <br/>

            <button type="submit" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i> Speichern
            </button>
        </form>
    </div>
</div>
</body>
</html>