<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:replace="fragments/general-includes :: general-includes"></th:block>
   <link rel="stylesheet" href="../css/contact/contact.css" th:href="@{/css/contact/contact.css}" type="text/css" />
   <title>Kontakt</title>
</head>
<body>
   <nav th:replace="fragments/general-includes :: header"></nav>
   <div class="jumbotron">
      <div class="container">
         <h2>Haben Sie Interesse, Anregungen oder Fragen?</h2>
         <p>Kontaktieren Sie mich gerne.</p>
      </div>
	   <div class="container">
	      <form class="form-group" th:action="@{/sendMessage}" method="Post">
	         <label for="contact-email">Ihre E-Mail:</label>
	         <input type="email" class="form-control contact-input" id="contact-email" name="c-email" required="required" placeholder="E-Mail-Adresse"></input>
	         <label for="contact-reason">Ihr Anliegen:</label>
	         <input type="text" class="form-control contact-input" id="contact-reason" name="c-reason" required="required" placeholder="Betreff"></input>
	         <label for="contact-message">Ihre Nachricht:</label>
	         <textarea class="form-control contact-input" id="contact-message" name="c-message" 
	                   max-length="500" required="required" placeholder="Schreiben Sie Ihre Nachricht hier..."></textarea>
	         <input type="submit" class="btn btn-primary" value="Nachricht senden"></input>
	      </form>
	   </div>
   </div>
</body>
</html>