<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:replace="fragments/general-includes :: general-includes"></th:block>
   <title>Burandt - Kunst</title>
</head>
<body>
   <nav th:replace="fragments/general-includes :: header"></nav>
   <div class="jumbotron">
      <div class="container first-container">
         <h3>Vielen Dank für Ihre Nachricht!</h3>
         <p>Ich werde Ihre Nachricht schnellstmöglich lesen und auf Sie zurück kommen.</p>
      </div>
   </div>
</body>
</html>